.secondPar{color:blue}
.largeFontPar {font-size: 30px;}
#firstPar {font-size: 12px; color: greenyellow;}
.bluePar {color: red;}
img{border-style: double}
table{color: navy;background: yellow;}
hr{height: 5px;background-color: blueviolet;}
ul{color:navy;}
ol{color: red;}
div{background: green;}